@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/bg.jpg), #000;
    background-size: cover;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* Nav */
nav {
    width: 100%;
    height: 75px;
    background: #4570a3;
    position: sticky;
    top: 0;
}

nav h1 {
    position: absolute;
    margin: 12.5px 30px;
    font-size: 40px;
    font-family: "Arvo", serif;
    font-weight: 550;
}

nav ul {
    float: right;
    margin-right: 35px;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    margin: 20px 35px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #79d9ff;
}

nav ul li a i {
    margin: 0 10px;
}

/* Cards */
#life {
    padding: 30px;
    min-height: fit-content;
}

.life-title {
    font-size: 40px;
    color: #fff;
    font-family: "Arvo", serif;
    font-weight: 500;
    color: #79d9ff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 30px;
}

.box {
    margin: 20px;
    min-height: fit-content;
    height: 600px;
    box-shadow: -1px 0 10px #04F6F8;
    /* background: rgba(69, 112, 163, 0.6); */
    background: rgba(26, 42, 75, 0.7);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.life-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}
.life-img img {
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: height ease 0.5s, width ease 0.5s;
}

.box:hover img {
    width: 120%;
    height: 120%;
    
}

/* Footer */
footer {
    width: 100%;
    height: fit-content;
    position: relative;
    bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgba(0, 14, 41, 0.612);
}


.footer-content p {
    max-width: 500px;
    color: #cacdd2;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright p {
    word-spacing: 2px;
    text-transform: capitalize;
}

.copyright p a {
    color: #79d9ff;
    font-size: 16px;
    text-decoration: none;
}

.copyright p a:hover {
    color: #5ca3c0;
}